{% extends 'back/layout.html.twig' %}

{% block title %}Fiche de {{ customer.fullname|upper }}{% endblock %}
{% block page_title %}Fiche de {{ customer.fullname|upper }} {% endblock %}

{% block action_buttons %}
    <a title="Retour sur le contenu" href="{{ path('back_customer_index') }}"
       class="btn btn-xs btn-primary">
        <i class="fa fa-arrow-left"></i>&nbsp; Retour
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Fiche client n° {{ customer.id }}</h4>
                </div>
                <div class="panel-body">
                    <div class="row col-12">
                        <div class="col-lg-7 text-left">
                            <h2>Informations générales</h2>
                        </div>
                        <div class="col-lg-5 text-right">
                            <a class="btn btn-outline-primary"
                               href="{{ path('back_customer_authenticate', {'id': customer.id}) }}"
                               title="Se connecter avec ce client">
                                <i class="fa fa-user"></i> Se connecter avec ce client
                            </a>
                            <a class="btn btn-outline-primary"
                               href="{{ impersonation_path(customer.email) }}"
                               title="Se connecter avec ce client">
                                <i class="fa fa-user"></i> Se connecter avec ce client
                            </a>
                            <div>
                                <small><i class="fa fa-exclamation-triangle"></i> <em>N'ouvrir qu'une seule fenêtre à la
                                        fois.</em></small>
                            </div>
                        </div>
                    </div>
                    <div class="row col-12">
                        <div class="col-xs-12 col-lg-6">
                            <div>
                                <label for="">Civilité :</label>
                                <span>{{ customer.genre.label }}</span>
                            </div>
                            <div>
                                <label for="">Nom / Prénom : </label>
                                <span>{{ customer.fullname }}</span>
                            </div>
                            <div>
                                <label for="">E-mail : </label>
                                <span>
                                    <a href="mailto:{{ customer.email }}"
                                         title="E-mail">{{ customer.email }}
                                    </a>
                                </span>
                            </div>
                            <div>
                                <label for="">Adresse :</label>
                                <span>{{ customer.fulladdress }}</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <div>
                                <label for="">Téléphone :</label>
                                <span>
                                    <a href="tel:{{ customer.phone }}"
                                       title="Téléphone">
                                        {{ customer.phone }}
                                    </a>
                                </span>
                            </div>
                            <div>
                                <label for="">Compte stripe Id :</label>
                                <span>{{ customer.stripeCustomerId }}</span>
                            </div>
                            <div>
                                <label for="">Compte invité :</label>
                                <span>{{ customer.isGuess ? 'Oui' : 'Non' }}</span>
                            </div>
                            <div>
                                <label for="">Description :</label>
                                <span>{{ customer.description }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- include list reservation-->
                {{ include('back/customer/_list_reservation.html.twig') }}
                <!-- end include -->
                <!-- include delete button -->
                {{ include('back/customer/_delete_form.html.twig') }}
                <!-- end include -->
            </div>
        </div>
    </div>
{% endblock %}
