{% use "bootstrap_4_layout.html.twig" %}

{% block form_widget_simple -%}
    {%- if type is defined and type == 'file' and attr['allow-delete'] is defined %}
        <div class="d-flex file-elt">
            {{- parent() -}}
        </div>
    {% else %}
        {{- parent() -}}
    {% endif -%}
{%- endblock form_widget_simple %}

{% block form_errors %}
    {% if errors|length > 0 %}
        {% if compound %}
            {# ... display the global form errors #}
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {# ... display the errors for a single field #}
            {% for error in errors %}
                <div style="color: #842029">
                    {{ error.message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock form_errors %}

{% block website_content_widget %}
    <div class="col-4" {{ stimulus_controller('bigpicture') }}>
        <div class="w-100">
            {{ form_row(form.children.title) }}
        </div>
        <div class="w-100">
            {{ form_row(form.children.subTitle) }}
        </div>
        <div class="w-100">
            {{ form_row(form.children.link) }}
        </div>
        <div class="w-100">
            {{ form_row(form.children.whiteColor) }}
        </div>
        <div class="w-100">
            {{ form_row(form.children.uploadedPicture) }}
        </div>
        <div class="w-100 bp-gallery" id="websiteContent">
            {% if form.vars.value.picture is defined and form.vars.value.picture.name is defined %}
                <div class="row m-1 preview-image" {{ stimulus_action('bigpicture', 'loadBackGallery', 'click') }}>
                    <img src="{{ asset('uploads/home_page/' ~ form.vars.value.picture.name) }}"
                         data-bp="{{ asset('uploads/home_page/' ~ form.vars.value.picture.name) }}"
                         data-caption="Photo home page {{ form.vars.value.id }}"
                         alt="accueil logo"
                         width="100%"
                         class="border img-fluid"
                    />
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block product_collection_widget %}
    <div class="col-4 file-elt mx-1">
        <div class="w-100">
            {{ form_widget(form.children.product) }}
        </div>
        <button type="button" class="btn" data-action="click->back-product#onCollectionDelete">
            <i class="fa far fa-trash-alt text-danger"></i>
        </button>
    </div>
{% endblock %}