{% block subject %}Reented – Bienvenue sur Reented{% endblock %}

{% block body_html %}
    {% embed 'emails/_layout.html.twig' %}
        {% block title %}Bienvenue sur Reented{% endblock %}
        {% block accroche %}Bienvenue sur Reented{% endblock %}
        {% block body %}
            <tr>
                <td style="padding-top:20px;">
                    <h3>Bonjour {{ user.fullname|capitalize }},</h3>
                    <p>
                        Bienvenue, nous vous remercions de vous être inscrit sur <a title="Site Reented"
                                                                                    href="{{ app.request.schemeAndHttpHost }}">Reented</a>.
                    </p>
                    <p>
                        Avec votre compte, vous avez la possibilité de voir vos historiques de location, discuter avec
                        votre bailleur
                        et d'ajouter des produits en favoris par exemple.
                    </p>
                    <p>
                        Nous vous souhaitons une bonne navigation sur notre site, et si vous avez des questions
                        n'hésitez pas à nous contacter via les moyens mis à votre disposition.
                    </p>
                    <p>
                        Cordialement,<br/>
                        L'équipe Reented<br/>
                        <a title="Site Reented"
                           href="{{ app.request.schemeAndHttpHost }}">{{ app.request.schemeAndHttpHost }}</a>
                    </p>
                    <p style="color: #8698A5; font-size: 15px;">Ce message est généré automatiquement, merci de ne pas y
                        répondre directement.</p>
                </td>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body_text %}
    Bonjour {{ user.fullname|capitalize }},\n
    \n
    Bienvenue, nous vous remercions de vous être inscrit sur {{ app.request.schemeAndHttpHost }}.\n
    \n
    Avec votre compte, vous avez la possibilité de voir vos historiques de location et d'ajouter des produits en favoris par exemple.\n
    \n
    Nous vous souhaitons une bonne navigation sur notre site, et si vous avez des questions n'hésitez pas à nous contacter via les moyens mis à votre disposition.\n
    \n
    Cordialement,\n
    \n
    L'équipe Reented\n
    {{ app.request.schemeAndHttpHost }}\n
    \n
    Ce message est généré automatiquement, merci de ne pas y répondre directement.\n
{% endblock %}
