{% block subject %}Reented – Réinitialisation de votre mot de passe{% endblock %}

{% block body_html %}
    {% embed 'emails/_layout.html.twig' %}
        {% block title %}Réinitialisation de votre mot de passe{% endblock %}
        {% block accroche %}Réinitialisation de votre mot de passe{% endblock %}
        {% block body %}
            <h3>Bonjour,</h3>
            <p>Pour réinitialiser votre mot de passe, merci de suivre le lien suivant :</p>
            <a href="{{ url('front_reset_password', {token: resetToken.token}) }}">{{ url('front_reset_password', {token: resetToken.token}) }}</a>
            <p>
                Ce lien expira
                dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>
                Si vous n'êtes pas à l'initiative de cette demande, merci de ne pas tenir compte de cet e-mail.
            </p>
            <p>
                Cordialement,<br/>
                L'équipe Reented<br/>
                <a title="Site Reented"
                   href="{{ app.request.schemeAndHttpHost }}">{{ app.request.schemeAndHttpHost }}</a>
            </p>
            <p style="color: #8698A5; font-size: 15px;">Ce message est généré automatiquement, merci de ne pas y
                répondre directement.</p>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block body_text %}
    Bonjour,\n
    \n
    Pour réinitialiser votre mot de passe, merci de suivre le lien suivant :\n
    \n
    {{ url('front_reset_password', {token: resetToken.token}) }}">{{ url('front_reset_password', {token: resetToken.token}) }}\n
    \n
    Ce lien expira dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.\n
    \n
    Si vous n'êtes pas à l'initiative de cette demande, merci de ne pas tenir compte de cet e-mail.\n
    \n
    Cordialement,\n
    \n
    L'équipe Reented\n
    {{ app.request.schemeAndHttpHost }}\n
    \n
    Ce message est généré automatiquement, merci de ne pas y répondre directement.\n
{% endblock %}