{% import "front/macros/macros.html.twig" as macros %}

<div class="profile__edit-wrapper" {{ stimulus_controller('checkin') }} style="overflow: auto;max-height: 450px;">
    {{ form_start(form, {attr: {'autocomplete':'off'}}) }}
    <div class="profile__edit-input">
        {{ form_row(form.status) }}
        <div class="profile__edit-input">
            {{ form_row(form.comments) }}
        </div>
    </div>
    <div class="profile__edit-input">
        <button type="button" class="btn btn-primary btn-sm"
                data-action="click->checkin#onFileAdd">
            <i class="fas fa-plus "></i> Ajouter une image
        </button>
        {{ form_errors(form.handleError) }}
    </div>
    <div class="profile__edit-input">
        {{ form_errors(form.uploadedPictures) }}
    </div>
    <div class="checkin-collection mt-3" {% if form.vars.value.status is not same as(constant('App\\Enum\\CheckinStatus::VALIDATE_WITH_WARNING')) %} style="display: none" {% endif %}
         data-prototype="{{ macros.pictureCheckinField(form.uploadedPictures.vars.prototype)|e }}">
        {% for index, picture in form.vars.value.pictures %}
            <div class="picture file-elt mt-1 mb-1 d-flex w-100">
                <div class="w-100">
                    <span>Photo(s) n° <span class="file-index">{{ (index + 1) }}</span></span>
                    {{ picture.name }}
                </div>
                <button type="button" class="btn" data-action="click->checkin#onFileDelete"
                        data-token="{{ picture.token }}">
                    <i class="fa far fa-trash-alt text-danger"></i>
                </button>
            </div>
        {% endfor %}
    </div>
    <small id="pictureHelp" class="form-text text-muted">
        Les photos permettent à nos équipes de statué sur le litige.
    </small>
    <button class="os-btn w-100" formnovalidate>Enregistrer</button>
    <div class="d-none">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>
