<div class="profile__info">
    <div class="profile__info-top d-flex justify-content-between align-items-center">
        <h3 class="profile__info-title">Information</h3>
        <a class="profile__info-btn open-front-modal" type="button"
           href="{{ url('front_user_edit', {}, true) }}" title="Modifier"
           data-modal-title="Modifier"
        >
            <i class="fa-regular fa-pen-to-square"></i> Modifier
        </a>
    </div>

    <div class="profile__info-wrapper white-bg">
        <div class="profile__info-item">
            <p>Nom / Prénom</p>
            <h4>{{ user.fullname|capitalize }}</h4>
        </div>
        <div class="profile__info-item">
            <p>E-mail</p>
            <h4><a href="mailto:{{ user.email }}" class="__cf_email__" title="E-mail"
                   data-cfemail="94fdfaf2fbd4f1f0e1fff1e6baf7fbf9">{{ user.email }}</a>
            </h4>
        </div>

        <div class="profile__info-item">
            <p>Téléphone</p>
            <h4><a href="tel:{{ user.phone }}" title="Téléphone">{{ user.phone }}</a></h4>
        </div>
        <div class="profile__info-item">
            <p>Adresse</p>
            <h4>{{ user.fullAddress }}</h4>
        </div>
    </div>
</div>