<div class="order__info">
    <div class="order__info-top d-flex justify-content-between align-items-center">
        <h3 class="order__info-title">{{ title }}</h3>
    </div>

    <div class="order__list white-bg table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="text-center">Référence</th>
                <th scope="col" class="text-center">Total Ttc</th>
                <th scope="col" class="text-center">Statut</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody id="product-list">
            {% for reservation in results.results %}
                <tr>
                    <td class="text-center order__id">
                        <a href="{{ path('front_reservation_show', {'token': reservation.token}) }}"
                           data-lg-size="true"
                           data-modal-title="Réservation {{ reservation.transaction.reference }}"
                           title="Réservation {{ reservation.transaction.reference }}"
                           class="order__title open-product-modal">
                            {{ reservation.transaction.reference }}
                        </a>
                    </td>
                    <td class="text-center">{{ ((reservation.transaction.totalAmountTtc + reservation.transaction.totalFees) / 100)|number_format(2, ',')|default(0) }}
                        €
                    </td>
                    <td class="text-center">{{ reservation.status.label }}</td>
                    <td class="text-center">
                        <a href="{{ path('front_reservation_show', {'token': reservation.token}) }}"
                           class="order__view-btn open-product-modal"
                           data-lg-size="true"
                           data-modal-title="Réservation {{ reservation.transaction.reference }}"
                           title="Réservation {{ reservation.transaction.reference }}">Voir</a>
                        {% if getInvoiceLink(reservation) %}
                            <br>
                            <a href="{{ getInvoiceLink(reservation) }}"
                               class="order__view-btn"
                               title="Facture">Votre facture</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>