{% extends 'back/layout.html.twig' %}

{% block title %}Transactions{% endblock %}
{% block page_title %}Transactions ({{ transactions.totalItemCount() }}){% endblock %}
{% block action_buttons %}
    <a title="Exporter" href="{{ path('back_transaction_extract') }}" class="btn btn-info">
        Exporter
    </a>
{% endblock %}

{% block form_filter %}
    {{ form_start(filterForm, {'attr': {'novalidate':'novalidate', 'style' : 'position:relative;top:-12px;', 'data-controller': 'back-customer'}}) }}
    <button type="submit" class="btn btn-success float-right">
        <i class="fa fa-search"></i>&nbsp
    </button>
    {{ form_row(filterForm.term) }}
    {{ form_end(filterForm) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading ui-sortable-handle">
                    <h4 class="panel-title">Transactions</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive mb-4">
                        <table class="client-list table table-striped m-b-0">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Client</th>
                                <th>Montant TTC</th>
                                <th>Statut</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transaction in transactions %}
                                <tr class="customer-row"
                                    data-href="{{ path('back_transaction_show', {'transaction': transaction.id }) }}">
                                    <td>{{ transaction.reference }}</td>
                                    <td>{{ transaction.author.fullname }}</td>
                                    <td>{{ (transaction.totalAmountTtc + transaction.totalFees / 100)|number_format(2, ',')|default(0) }} €</td>
                                    <td>{{ transaction.status.label }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(transactions) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
