{% extends 'front/layout.html.twig' %}

{% block title %}Recherche produit{% endblock %}

{% block content %}
    <!-- shop area start -->
    <section class="shop__area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2">
                    <div class="shop__content-area">
                        <div class="shop__header d-sm-flex justify-content-between align-items-center mb-40">
                            <div class="shop__header-left">
                                <div class="show-text">
                                    <span>{{ pagination.getTotalItemCount }} résultats</span>
                                </div>
                            </div>
                            <div class="shop__header-right d-flex align-items-center justify-content-between justify-content-sm-end">
                                <div class="sort-wrapper mr-30 pr-25 p-relative">
                                    <form action="" id="searchProductForm" method="get">
                                        <select name="sortedBy" {{ stimulus_action('commun', 'onSearchSortedBy', 'change') }}>
                                            <option value="1" {{ data.sortedBy == 1 ? 'selected' : '' }}>Trie par
                                                défaut
                                            </option>
                                            <option value="2" {{ data.sortedBy == 2 ? 'selected' : '' }}>Du moins chère
                                                au plus chère
                                            </option>
                                            <option value="3" {{ data.sortedBy == 3 ? 'selected' : '' }}>Du plus chère
                                                au moins chère
                                            </option>
                                            <option value="4" {{ data.sortedBy == 4 ? 'selected' : '' }}>Par ordre
                                                alphabétique croissant
                                            </option>
                                            <option value="5" {{ data.sortedBy == 5 ? 'selected' : '' }}>Par ordre
                                                alphabétique décroissant
                                            </option>
                                        </select>
                                        <input type="hidden" name="searchProducts" value="{{ data.searchProducts }}">
                                    </form>
                                </div>
                                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-grid-tab" data-toggle="pill"
                                           href="#pills-grid" role="tab" aria-controls="pills-grid"
                                           aria-selected="true"><i class="fas fa-th"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-list-tab" data-toggle="pill" href="#pills-list"
                                           role="tab" aria-controls="pills-list" aria-selected="false"><i
                                                    class="fas fa-list-ul"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-grid" role="tabpanel"
                                 aria-labelledby="pills-grid-tab">
                                <div class="row custom-row-10">
                                    {% for product in pagination %}
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 custom-col-10">
                                            <div class="product__wrapper mb-60">
                                                <div class="product__thumb" style="width: 270px;height: 344px">
                                                    {% if product[0].pictures.count > 0 %}
                                                        {% set pictureName = product[0].pictures.first.name %}
                                                        <img src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 270, 344) }}"
                                                                {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                                    src: asset('uploads/product_picture/' ~ pictureName)|imagine_filter('product_trends_or_sale')
                                                                }) }}
                                                             alt="{{ product[0].title }}" width="270" height="344"
                                                             class="img-fluid">
                                                        {% if product[0].pictures.count > 1 %}
                                                            {% set pictureName = product[0].pictures.next.name %}
                                                            <img class="product__thumb-2"
                                                                 src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 270, 344) }}"
                                                                    {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                                        src: asset('uploads/product_picture/' ~ pictureName)|imagine_filter('product_trends_or_sale')
                                                                    }) }}
                                                                 alt="{{ product[0].title }}" width="270" height="344"
                                                                 class="img-fluid">
                                                        {% endif %}
                                                    {% endif %}
                                                    <div class="product__action transition-3">
                                                        <a href="{{ path('front_wishlist_add', {'token': product[0].token}) }}"
                                                           class="post-confirm add-product[0]-wishlist"
                                                           data-button-text="Ajouter"
                                                           data-title="Favoris"
                                                           data-type="green"
                                                           data-btn-class="btn-green"
                                                           data-confirm-message="Souhaitez-vous ajouter ce produit à vos favoris ?"
                                                           data-toggle="tooltip" data-placement="top"
                                                           title="Ajouter à vos favoris">
                                                            <i class="fal fa-heart"></i>
                                                        </a>
                                                        <!-- Button trigger modal -->
                                                        <a href="{{ path('front_product_reservation', {'token': product[0].token}) }}"
                                                           title="Réservez"
                                                           data-toggle="tooltip" data-placement="top"
                                                           data-modal-title="Réservation en cours"
                                                           data-lg-size="true"
                                                           class="open-product-modal">
                                                            <i class="fal fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product__content p-relative">
                                                    <div class="product__content-inner">
                                                        <h4>
                                                            <a
                                                                    title="{{ product[0].title }}"
                                                                    href="{{ path('front_product_reservation_show_detail', {'token': product[0].token}) }}">
                                                                {{ product[0].title }}
                                                            </a>
                                                        </h4>
                                                        <div class="product__price transition-3">
                                                            <span>{{ product[0].amount|number_format(2, ',')|default(0) }} €</span>
                                                            <!-- <span class="old-price">$96.00</span> -->
                                                            <span class="old-price">{{ product.distance > 0 ? product.distance ~ 'Km' : 'Proche' }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="add-cart p-absolute transition-3">
                                                        <a href="{{ path('front_product_reservation', {'token': product[0].token}) }}"
                                                           title="Réservez"
                                                           data-modal-title="Réservation en cours"

                                                           data-lg-size="true"
                                                           class="open-product-modal"><i
                                                                    class="fa fa-shopping-cart"></i> Réservez</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
                                {% for product in pagination %}
                                    <div class="product__wrapper mb-40">
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-4">
                                                <div class="product__thumb" style="width: 270px;height: 344px">
                                                    {% if product[0].pictures.count > 0 %}
                                                        {% set pictureName = product[0].pictures.first.name %}
                                                        <img src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 270, 344) }}"
                                                                {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                                    src: asset('uploads/product_picture/' ~ pictureName)|imagine_filter('product_trends_or_sale')
                                                                }) }}
                                                             alt="{{ product[0].title }}" width="270" height="344"
                                                             class="img-fluid">
                                                        {% if product[0].pictures.count > 1 %}
                                                            {% set pictureName = product[0].pictures.next.name %}
                                                            <img class="product__thumb-2"
                                                                 src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 270, 344) }}"
                                                                    {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                                        src: asset('uploads/product_picture/' ~ pictureName)|imagine_filter('product_trends_or_sale')
                                                                    }) }}
                                                                 alt="{{ product[0].title }}" width="270" height="344"
                                                                 class="img-fluid">
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-xl-8 col-lg-8">
                                                <div class="product__content p-relative">
                                                    <div class="product__content-inner list">
                                                        <h4>
                                                            <a
                                                                    title="{{ product[0].title }}"
                                                                    href="{{ path('front_product_reservation_show_detail', {'token': product[0].id}) }}">{{ product[0].title }}</a>
                                                        </h4>
                                                        <div class="product__price-2 mb-10">
                                                            <span>{{ product[0].amount|number_format(2, ',')|default(0) }} €</span>
                                                            <!-- <span class="old-price">$96.00</span> -->
                                                            <span class="old-price">{{ product.distance > 0 ? product.distance ~ 'Km' : 'Proche' }}</span>
                                                        </div>
                                                        <p>{{ product[0].shortDescription }}</p>
                                                    </div>
                                                    <div class="add-cart-list d-sm-flex align-items-center">
                                                        <a title="Réservez"
                                                           href="#" class="add-cart-btn mr-10">+ Ajouter</a>
                                                        <div class="product__action-2 transition-3 mr-20">
                                                            <a href="{{ path('front_wishlist_add', {'token': product[0].token}) }}"
                                                               class="post-confirm add-product-wishlist"
                                                               data-button-text="Ajouter"
                                                               data-title="Favoris"
                                                               data-type="green"
                                                               data-btn-class="btn-green"
                                                               data-confirm-message="Souhaitez-vous ajouter ce produit à vos favoris ?"
                                                               data-toggle="tooltip" data-placement="top"
                                                               title="Ajouter à vos favoris">
                                                                <i class="fal fa-heart"></i>
                                                            </a>
                                                            <!-- Button trigger modal -->
                                                            <a href="{{ path('front_product_reservation', {'token': product[0].token}) }}"
                                                               title="Réservez"
                                                               data-modal-title="Réservation en cours"
                                                               data-toggle="tooltip" data-placement="top"
                                                               data-lg-size="true"
                                                               class="open-product-modal">
                                                                <i class="fal fa-search"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- shop modal start -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row mt-40">
                            <div class="col-xl-12">
                                <div class="shop-pagination-wrapper d-md-flex justify-content-between align-items-center">
                                    <div class="">
                                        {{ knp_pagination_render(pagination) }}
                                    </div>
                                    <div class="shop__header-left">
                                        <div class="show-text bottom">
                                            <span>{{ pagination.getTotalItemCount }} résultats</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shop area end -->
{% endblock %}