{% extends 'front/layout.html.twig' %}

{% block title %}Détails de la fiche produit{% endblock %}

{% block content %}
    <!-- shop details area start -->
    <section class="shop__area pb-65" {{ stimulus_controller('bigpicture')|stimulus_controller('rating') }}>
        <div class="shop__top grey-bg-6 pt-50 pb-90">
            <div class="container">
                <div class="row">
                    {% cache "product;v2;" ~ product.id ~ ";" ~ product.updatedAt|date('dmyhis') %}
                        <div class="col-xl-6 col-lg-6">
                            <div class="product__modal-box d-flex">
                                <div class="product__modal-nav mr-20">
                                    <nav>
                                        <div class="nav nav-tabs" id="product-details" role="tablist">
                                            {% if product.pictures.count > 0 %}
                                                {% for index, picture in product.pictures %}
                                                    {% set active = '' %}
                                                    {% if index == 0 %}
                                                        {% set active = 'active' %}
                                                    {% endif %}
                                                    <a class="nav-item nav-link {{ active }}"
                                                       id="pro-{{ picture.token }}-tab" data-toggle="tab"
                                                       href="#pro-{{ picture.token }}" role="tab"
                                                       aria-controls="pro-{{ picture.token }}" aria-selected="false">
                                                        <div class="product__nav-img w-img">
                                                            <img src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 90, 115) }}"
                                                                    {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                                        src: asset('uploads/product_picture/' ~ picture.name)|imagine_filter('product_miniature_details')
                                                                    }) }}
                                                                 alt="{{ product.title }}" class="img-fluid"
                                                                 width="90" height="115">
                                                        </div>
                                                    </a>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </nav>
                                </div>
                                <div class="tab-content mb-20 bp-gallery" id="product-detailsContent"
                                     data-action="click->bigpicture#loadGallery">
                                    {% if product.pictures.count > 0 %}
                                        {% for index, picture in product.pictures %}
                                            {% set active = '' %}
                                            {% if index == 0 %}
                                                {% set active = 'show active' %}
                                            {% endif %}
                                            <div data-action="click->bigpicture#loadGallery"
                                                 class="tab-pane fade {{ active }}" id="pro-{{ picture.token }}"
                                                 role="tabpanel" aria-labelledby="pro-{{ picture.token }}-tab">
                                                <div class="product__modal-img product__thumb w-img"
                                                     data-action="click->bigpicture#loadGallery">
                                                    <img data-bp="{{ asset('uploads/product_picture/' ~ picture.name) }}"
                                                         data-caption="{{ product.title }}"
                                                         src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 470, 600) }}"
                                                            {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                                src: asset('uploads/product_picture/' ~ picture.name)|imagine_filter('product_details')
                                                            }) }}
                                                         alt="{{ product.title }}" class="img-fluid"
                                                         width="470" height="600">
                                                    {#                                                <div class="product__sale "> #}
                                                    {#                                                    <span class="new">new</span> #}
                                                    {#                                                    <span class="percent">-16%</span> #}
                                                    {#                                                </div> #}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endcache %}
                    <div class="col-xl-6 col-lg-6">
                        <div class="product__modal-content product__modal-content-2">
                            <h4><a href="#"> {{ product.title }}</a></h4>
                            <div class="rating rating-shop mb-15">
                                <ul>
                                    {% for i in range(0, 4) %}
                                        {% if i <= product.averageNote %}
                                            <li><span><i class="fas fa-star"></i></span></li>
                                        {% else %}
                                            <li><span><i class="fal fa-star"></i></span></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <span class="rating-no ml-10 rating-left">
                                    {{ product.reviews.count|default(0) }} avis(s)
                                </span>
                                {#                                <span class="review rating-left"><a href="#">Add your Review</a></span> #}
                            </div>
                            <div class="product__price-2 mb-25">
                                <span>Prix : {{ product.amount|number_format(2, ',')|default(0) }} € / jours</span>
                                {#                <span class="old-price">$96.00</span> #}
                            </div>
                            <div class="product__price-2 mb-25">
                                <span>Montant de la caution : {{ product.caution|number_format(2, ',')|default(0) }} €</span>
                                {#                <span class="old-price">$96.00</span> #}
                            </div>
                            <div class="product__modal-des mb-30">
                                {{ product.shortDescription }}
                            </div>
                            <div class="product__tag mb-25">
                                <span>Catégorie :</span>
                                <span><a href="{{ path('front_product_category', {'productCategory': product.category.value}) }}">{{ product.category.label }}</a></span>
                            </div>
                            <div class="product__modal-form mb-30">
                                {{ form_start(form, {'attr': {'id':'productForm', 'autocomplete':'off'}}) }}
                                <div class="product__modal-select color size mb-20">
                                    <label>Date de réservation <i class="fas fa-star-of-life"></i></label>
                                    <div class="product-quantity">
                                        <div class="">
                                            {{ form_row(form.date) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="product__modal-input color mb-20">
                                    <label>Quantité <i class="fas fa-star-of-life"></i></label>
                                    {{ form_row(form.quantity) }}
                                </div>
                                <div class="pro-quan-area d-lg-flex align-items-center add"
                                     style="flex-direction: row-reverse;">
                                    <div class="pro-cart-btn">
                                        <a href="#" class="os-btn os-btn-black os-btn-3 mr-10 add-product-cart">+
                                            Ajouter</a>
                                    </div>
                                </div>
                                <div class="pro-quan-area align-items-center d-none indispo"
                                     style="flex-direction: row-reverse;">
                                    <div class="pro-cart-btn">
                                        <a href="#" class="os-btn os-btn-red os-btn-3 mr-10"><i
                                                    class="bi bi-exclamation-triangle"></i>Indisponible</a>
                                    </div>

                                </div>
                                {{ form_end(form) }}
                            </div>
                            {#                            <div class="product__share"> #}
                            {#                                <span>Partage :</span> #}
                            {#                                <ul> #}
                            {#                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> #}
                            {#                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li> #}
                            {#                                    <li><a href="#"><i class="fab fa-behance"></i></a></li> #}
                            {#                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> #}
                            {#                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li> #}
                            {#                                </ul> #}
                            {#                            </div> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="product__details-tab">
                            <div class="product__details-tab-nav text-center mb-45">
                                <nav>
                                    <div class="nav nav-tabs justify-content-start justify-content-sm-center"
                                         id="pro-details" role="tablist">
                                        {% if review %}
                                            {% set desActive = '' %}
                                            {% set reviewActive = 'active' %}
                                        {% else %}
                                            {% set desActive = 'active' %}
                                            {% set reviewActive = '' %}
                                        {% endif %}
                                        <a class="nav-item nav-link {{ desActive }}" id="des-tab" data-toggle="tab"
                                           href="#des"
                                           role="tab" aria-controls="des" aria-selected="true">Description</a>
                                        {#                                        <a class="nav-item nav-link" id="add-tab" data-toggle="tab" href="#add" #}
                                        {#                                           role="tab" aria-controls="add" aria-selected="false">Information complémentaire</a> #}
                                        <a class="nav-item nav-link {{ reviewActive }}" id="review-tab"
                                           data-toggle="tab"
                                           href="#review"
                                           role="tab" aria-controls="review" aria-selected="false">Avis
                                            ({{ product.reviews.count|default(0) }})</a>

                                    </div>
                                </nav>
                            </div>
                            <div class="tab-content" id="pro-detailsContent">
                                {% if review %}
                                    {% set desTabActive = '' %}
                                    {% set reviewTabActive = 'show active' %}
                                {% else %}
                                    {% set desTabActive = 'show active' %}
                                    {% set reviewTabActive = '' %}
                                {% endif %}
                                <div class="tab-pane fade {{ desTabActive }}" id="des" role="tabpanel">
                                    <div class="ck-content">
                                        {{ product.description|purify }}
                                    </div>
                                </div>
                                <div class="tab-pane fade {{ reviewTabActive }}" id="review" role="tabpanel">
                                    <div class="product__details-review">
                                        <div class="postbox__comments">
                                            <div class="postbox__comment-title mb-30">
                                                <h3>Avis ({{ product.reviews.count|default(0) }})</h3>
                                            </div>
                                            <div class="latest-comments mb-30">
                                                <ul>
                                                    {% for review in product.reviews %}
                                                        <li>
                                                            <div class="comments-box">
                                                                <div class="comments-avatar">
                                                                    <img loading="lazy" src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 45, 45) }}"
                                                                            {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                                                src: asset('uploads/profile_picture/' ~ review.author.picture.name)|imagine_filter('profil_miniature')
                                                                            }) }}
                                                                         width="120" height="120"
                                                                         alt="{{ review.author.picture.name }}"
                                                                         class="img-fluid">
                                                                </div>
                                                                <div class="comments-text">
                                                                    <div class="avatar-name">
                                                                        <h5>{{ review.author.fullname }}</h5>
                                                                        <span> - {{ review.createdAt|date('d/m/Y') }}</span>
                                                                        {#                                                                        <a class="reply" href="#">Leave Reply</a> #}
                                                                    </div>
                                                                    <div class="user-rating">
                                                                        <ul>
                                                                            {% for i in range(0, 4) %}
                                                                                {% if i <= review.note %}
                                                                                    <li>
                                                                                        <span><i class="fas fa-star"></i></span>
                                                                                    </li>
                                                                                {% else %}
                                                                                    <li>
                                                                                        <span><i class="fal fa-star"></i></span>
                                                                                    </li>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                    <p> {{ review.message }}</p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                    {#                                                    <li class="children"> #}
                                                    {#                                                        <div class="comments-box"> #}
                                                    {#                                                            <div class="comments-avatar"> #}
                                                    {#                                                                <img src="{{ asset('build/images/img/blog/comments/avater-2.png') }}" #}
                                                    {#                                                                     alt=""> #}
                                                    {#                                                            </div> #}
                                                    {#                                                            <div class="comments-text"> #}
                                                    {#                                                                <div class="avatar-name"> #}
                                                    {#                                                                    <h5>Julias Roy</h5> #}
                                                    {#                                                                    <span> - 6 months ago </span> #}
                                                    {#                                                                    <a class="reply" href="#">Leave Reply</a> #}
                                                    {#                                                                </div> #}
                                                    {#                                                                <div class="user-rating"> #}
                                                    {#                                                                    <ul> #}
                                                    {#                                                                        <li><a href="#"><i class="fas fa-star"></i></a> #}
                                                    {#                                                                        </li> #}
                                                    {#                                                                        <li><a href="#"><i class="fas fa-star"></i></a> #}
                                                    {#                                                                        </li> #}
                                                    {#                                                                        <li><a href="#"><i class="fas fa-star"></i></a> #}
                                                    {#                                                                        </li> #}
                                                    {#                                                                        <li><a href="#"><i class="fas fa-star"></i></a> #}
                                                    {#                                                                        </li> #}
                                                    {#                                                                        <li><a href="#"><i class="fal fa-star"></i></a> #}
                                                    {#                                                                        </li> #}
                                                    {#                                                                    </ul> #}
                                                    {#                                                                </div> #}
                                                    {#                                                                <p>Many desktop publishing packages and web page editors #}
                                                    {#                                                                    now use Lorem Ipsum as their default model text, and #}
                                                    {#                                                                    a search for <span>“lorem ipsum”</span> will uncover #}
                                                    {#                                                                    many web sites still in their infancy. </p> #}
                                                    {#                                                            </div> #}
                                                    {#                                                        </div> #}
                                                    {#                                                    </li> #}
                                                </ul>
                                            </div>
                                        </div>
                                        <!--  RATING FORM -->
                                        {% if app.user and review is same as (true) %}
                                            <div class="post-comments-form mb-100">
                                                <div class="post-comments-title mb-30">
                                                    <h5>Votre avis :</h5>
                                                    {{ form_start(formReview, {attr: {'class' : 'contact-post-form', 'id':'contacts-form'}}) }}
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <div class="contact-icon p-relative contacts-name">
                                                                {{ form_widget(formReview.note) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="contact-icon p-relative contacts-message">
                                                                {{ form_widget(formReview.message) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <button class="os-btn os-btn-black" type="submit"
                                                                    formnovalidate>Laissez votre
                                                                avis
                                                            </button>
                                                        </div>
                                                    </div>
                                                    {{ form_end(formReview) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shop details area end -->

    <!-- related products area start -->
    <section class="related__product pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section__title-wrapper text-center mb-55">
                        <div class="section__title mb-10">
                            <h2>Produits tendance</h2>
                        </div>
                        <div class="section__sub-title">
                            <p>Ces produits pourraient vous plaire !</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for trend in trends %}
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb" style="width: 270px;height: 344px">
                                {% if trend[0].pictures.count > 0 %}
                                    {% set picture = trend[0].pictures.first %}
                                    <img loading="lazy" src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 270, 344) }}"
                                            {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                src: asset('uploads/product_picture/' ~ picture.name)|imagine_filter('product_trends_or_sale')
                                            }) }}
                                         alt="{{ product.title }}" width="270" height="344" class="img-fluid">
                                    {% if trend[0].pictures.count > 1 %}
                                        {% set picture2 = trend[0].pictures.next %}
                                        <img loading="lazy" class="product__thumb-2"
                                             src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 270, 344) }}"
                                                {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                    src: asset('uploads/product_picture/' ~ picture2.name)|imagine_filter('product_trends_or_sale')
                                                }) }}
                                             alt="{{ trend[0].title }}" width="270" height="344" class="img-fluid">
                                    {% endif %}
                                {% endif %}

                                <div class="product__action transition-3">
                                    <a href="{{ path('front_wishlist_add', {'token': trend[0].token}) }}"
                                       class="post-confirm add-product-wishlist"
                                       data-button-text="Ajouter"
                                       data-title="Favoris"
                                       data-type="green"
                                       data-btn-class="btn-green"
                                       data-confirm-message="Souhaitez-vous ajouter ce produit à vos favoris ?"
                                       data-toggle="tooltip" data-placement="top" title="Ajouter à vos favoris">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="{{ path('front_product_reservation_show_detail', {'token': trend[0].token}) }}"
                                       title="Réservez">
                                        <i class="fal fa-search"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4>
                                        <a href="{{ path('front_product_reservation_show_detail', {'token': trend[0].token}) }}">
                                            {{ trend[0].title }}
                                        </a>
                                    </h4>
                                    <div class="product__price transition-3">
                                        <span>{{ trend[0].amount|number_format(2, ',')|default(0) }} €</span>
                                        {#                                                <span class="old-price">$96.00</span> #}
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="{{ path('front_product_reservation', {'token': trend[0].token}) }}"
                                       title="Réservez"
                                       data-modal-title="Réservation en cours"
                                       class="open-product-modal"
                                       data-lg-size="true"><i
                                                class="fa fa-shopping-cart"></i> Réservez</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}