<div class="row" {{ stimulus_controller('bigpicture') }}>
    {% cache "product_preview;v1;" ~ product.id ~ ";" ~ product.updatedAt|date('dmyhis') %}
        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
            <div class="product__modal-box">
                <div class="tab-content mb-20 bp-gallery" id="nav-tabContent">
                    {% if product.pictures.count > 0 %}
                        {% for index, picture in product.pictures %}
                            {% set active = '' %}
                            {% if index == 0 %}
                                {% set active = 'active' %}
                            {% endif %}
                            <div data-action="click->bigpicture#loadGalleryModal"
                                 class="tab-pane fade show {{ active }}" id="nav-{{ picture.token }}" role="tabpanel"
                                 aria-labelledby="nav-{{ picture.token }}-tab">
                                <div class="product__modal-img w-img">
                                    <img
                                            data-bp="{{ asset('uploads/product_picture/' ~ picture.name) }}"
                                            data-caption="{{ product.title }}"
                                            src="{{ asset('uploads/product_picture/' ~ picture.name)|imagine_filter('product_modal') }}"
                                            alt="{{ product.title }}" class="img-fluid"
                                            width="316" height="403">
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <nav>
                    <div class="nav nav-tabs justify-content-start" id="nav-tab" role="tablist">
                        {% if product.pictures.count > 0 %}
                            {% for index, picture in product.pictures %}
                                {% set active = '' %}
                                {% if index == 0 %}
                                    {% set active = 'active' %}
                                {% endif %}
                                <a class="nav-item nav-link {{ active }}" id="nav-{{ picture.token }}-tab"
                                   data-toggle="tab"
                                   href="#nav-{{ picture.token }}" role="tab" aria-controls="nav-{{ picture.token }}"
                                   aria-selected="true" title="{{ product.title }}">
                                    <div class="product__nav-img w-img">
                                        <img width="102" height="130" class="img-fluid"
                                             src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 102, 130) }}"
                                                {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                    src: asset('uploads/product_picture/' ~ picture.name)|imagine_filter('product_modal_miniature')
                                                }) }}
                                             alt="{{ product.title }}">
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12">
            <div class="product__modal-content">
                <h4><a href="{{ path('front_product_show_detail', {'token' : product.token}) }}">{{ product.title }}</a>
                </h4>
                <div class="rating rating-shop mb-15">
                    <ul>
                        {% for i in range(0, 4) %}
                            {% if i <= product.averageNote %}
                                <li><span><i class="fas fa-star"></i></span></li>
                            {% else %}
                                <li><span><i class="fal fa-star"></i></span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <span class="rating-no ml-10">
                    {{ product.reviews.count|default(0) }} avis(s)
                </span>
                </div>
                <div class="product__price-2 mb-25">
                    <span>Prix : {{ product.amount|number_format(2, ',')|default(0) }} € / jour</span>
                    {#                <span class="old-price">$96.00</span> #}
                </div>
                <div class="product__price-2 mb-25">
                    <span>Montant de la caution : {{ product.caution|number_format(2, ',')|default(0) }} €</span>
                    {#                <span class="old-price">$96.00</span> #}
                </div>
                <div class="product__modal-des mb-30">
                    <p>{{ product.shortDescription }}</p>
                </div>
            </div>
        </div>
    {% endcache %}
</div>