<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Photo(s)</h4>
    </div>
    <div class="panel-body" {{ stimulus_controller('bigpicture') }}>
        <div class="table-responsive mb-4">
            <div class="product__modal-box">
                <div class="tab-content mb-20 bp-gallery" id="nav-tabContent">
                    {% if product.pictures.count > 0 %}
                        {% for index, picture in product.pictures %}
                            {% set active = '' %}
                            {% if index == 0 %}
                                {% set active = 'active' %}
                            {% endif %}
                            <div data-action="click->bigpicture#loadGalleryModal"
                                 class="tab-pane fade show {{ active }}" id="nav-{{ picture.token }}" role="tabpanel"
                                 aria-labelledby="nav-{{ picture.token }}-tab">
                                <div class="product__modal-img w-img">
                                    <img data-bp="{{ asset('uploads/product_picture/' ~ picture.name) }}"
                                         data-caption="{{ product.title }}"
                                         src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 316, 403) }}"
                                            {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                src: asset('uploads/product_picture/' ~ picture.name)|imagine_filter('product_modal')
                                            }) }}
                                         width="316" height="403" class="img-fluid"
                                         alt="{{ product.title }}">
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        {% if product.pictures.count > 0 %}
                            {% for index, picture in product.pictures %}
                                {% set active = '' %}
                                {% if index == 0 %}
                                    {% set active = 'active' %}
                                {% endif %}
                                <a class="nav-item nav-link {{ active }}" id="nav-{{ picture.token }}-tab"
                                   data-toggle="tab" title="{{ picture.name }}"
                                   href="#nav-{{ picture.token }}" role="tab" aria-controls="nav-{{ picture.token }}"
                                   aria-selected="true">
                                    <div class="product__nav-img w-img">
                                        <img src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 102, 130) }}"
                                                {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                    src: asset('uploads/product_picture/' ~ picture.name)|imagine_filter('product_modal_miniature')
                                                }) }}
                                             width="102" height="130" class="img-fluid"
                                             alt="{{ product.title }}">

                                    </div>
                                </a>
                                <span data-action="click->back-product#confirmPictureDelete"
                                      data-token="{{ picture.id }}" data-product-token="{{ product.id }}">
                                    <i class="fa far fa-trash-alt text-danger"></i>
                                </span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
