{% extends 'back/layout.html.twig' %}

{% block title %}Bailleurs{% endblock %}
{% block page_title %}Bailleurs ({{ lessors.totalItemCount() }}){% endblock %}
{% block action_buttons %}
    <a title="Exporter" href="{{ path('back_lessor_extract') }}" class="btn btn-info" data-toggle="tooltip"
       data-placement="top">
        Exporter
    </a>
{% endblock %}

{% block form_filter %}
    {{ form_start(filterForm, {'attr': {'novalidate':'novalidate', 'style' : 'position:relative;top:-12px;', 'data-controller': 'back-customer'}}) }}
    <button type="submit" class="btn btn-success float-right">
        <i class="fa fa-search"></i>&nbsp
    </button>
    {{ form_row(filterForm.term) }}
    {{ form_row(filterForm.status) }}
    {{ form_end(filterForm) }}
{% endblock %}

{% block content %}
    <div class="row" {{ stimulus_controller('back-customer') }}>
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading ui-sortable-handle">
                    <h4 class="panel-title">Bailleurs</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive mb-4">
                        <table class="client-list table table-striped m-b-0">
                            <thead>
                            <tr>
                                <th>Civilité</th>
                                <th>Nom/Prénom</th>
                                <th>E-mail</th>
                                <th>Adresse</th>
                                <th>Téléphone</th>
                                <th>Client stripe</th>
                                <th>Compte stripe</th>
                                <th>Stripe actif</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lessor in lessors %}
                                <tr class="customer-row"
                                    data-href="{{ path('back_lessor_show', {'id': lessor.id }) }}">
                                    <td>{{ lessor.genre.label }}</td>
                                    <td>{{ lessor.fullname }}</td>
                                    <td>{{ lessor.email }}</td>
                                    <td>{{ lessor.fullAddress }}</td>
                                    <td>{{ lessor.phone }}</td>
                                    <td>{{ lessor.stripeCustomerId }}</td>
                                    <td>{{ lessor.stripeAccountId }}</td>
                                    <td>{{ lessor.isStripeAccountActive ? 'Oui' : 'Non' }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(lessors) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
