{% extends 'front/layout.html.twig' %}

{% block title %}Vos favoris{% endblock %}

{% block content %}

    <!-- Cart Area Strat-->
    <section class="cart-area pt-50 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">Images</th>
                                    <th class="cart-product-name">Produit</th>
                                    <th class="product-price">Prix TTC / Jour</th>
                                    <th class="product-quantity">Action</th>
                                    <th class="product-remove">Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for wishlist in wishlists %}
                                <tr>
                                    <td class="product-thumbnail">
                                        {% set pictureName = '' %}
                                        {% if wishlist.product.pictures.count > 0 %}
                                            {% set pictureName = wishlist.product.pictures.first.name %}
                                        {% endif %}
                                        <a href="{{ path('front_product_reservation_show_detail', {'token': wishlist.product.token }) }}" title="Détails du produit">
                                            <img src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 128, 128) }}"
                                                    {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                        src: asset('uploads/product_picture/' ~ pictureName)|imagine_filter('product_miniature')
                                                    }) }}
                                                 width="128" height="128" class="img-fluid"
                                                 alt="{{ wishlist.product.title }}"/>
                                        </a>
                                    </td>
                                    <td class="product-name">
                                        <a href="{{ path('front_product_reservation_show_detail', {'token': wishlist.product.token }) }}" title="Détails du produit">
                                            {{ wishlist.product.title }}
                                        </a>
                                    </td>
                                    <td class="product-price"><span class="amount">{{ wishlist.product.amount|number_format(2, ',')|default(0) }} €</span></td>
                                    <td class="product-quantity">
                                        <a href="{{ path('front_product_reservation', {'token': wishlist.product.token })}}"
                                           title="Réservez"
                                           data-modal-title="Réservation en cours"
                                           data-lg-size="true"
                                           class="open-product-modal">
                                            <button class="os-btn os-btn-black">Réservez</button></a>
                                    </td>
                                    <td class="product-remove">
                                        <a href="{{ path('front_wishlist_delete', {'token': wishlist.token}) }}"
                                           class="order__view-btn post-confirm"
                                           data-confirm-message="Êtes-vous sur de vouloir supprimer le produit {{ wishlist.product.title }} de vos favoris ?"
                                           data-title="Suppression du produit {{ wishlist.product.title }} de vos favoris"
                                           data-button-text="Supprimer"
                                           data-toggle="tooltip" data-placement="top"
                                           title="Suppression du produit {{ wishlist.product.title }}"
                                        >
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Area End-->
{% endblock %}
