{% extends 'front/layout.html.twig' %}

{% block title %}Page de Paiement{% endblock %}

{% block content %}
    <section class="coupon-area pt-100 pb-30">
        <div class="container">
            <div class="row">
                {% if not app.user %}
                    <div class="col-md-5">
                        <div class="coupon-accordion">
                            <!-- ACCORDION START -->
                            <h3>Déjà client ? <span id="showlogin">Se connecter</span></h3>
                            <div id="checkout-login" class="coupon-content">
                                <div class="coupon-info">
                                    {{ include('front/stripe/_form_login.html.twig') }}
                                </div>
                            </div>
                            <!-- ACCORDION END -->
                        </div>
                    </div>
                    <div class="col-md-7">
                        {#                    <div class="coupon-accordion"> #}
                        {#                        <!-- ACCORDION START --> #}
                        {#                        <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3> #}
                        {#                        <div id="checkout_coupon" class="coupon-checkout-content"> #}
                        {#                            <div class="coupon-info"> #}
                        {#                                <form action="#"> #}
                        {#                                    <p class="checkout-coupon"> #}
                        {#                                        <input type="text" placeholder="Coupon Code"/> #}
                        {#                                        <button class="os-btn os-btn-black" type="submit">Apply Coupon</button> #}
                        {#                                    </p> #}
                        {#                                </form> #}
                        {#                            </div> #}
                        {#                        </div> #}
                        {#                        <!-- ACCORDION END --> #}
                        {#                    </div> #}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- coupon-area end -->
    <!-- checkout-area start -->
    <section class="checkout-area pb-70" {{ stimulus_controller('user') }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-20">
                    <div class="checkbox-form">
                        <h3>Détails de facturation</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                {{ include('front/stripe/_form_user_creation.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="your-order mb-30">
                        <h3>Réservation {{ transaction ? transaction.reference : '' }}</h3>
                        <div class="your-order-table table-responsive">
                            <table class="text-center">
                                <thead>
                                <tr>
                                    <th class="product-name">Produit</th>
                                    <th class="product-name">Date</th>
                                    <th class="product-name">Qt</th>
                                    <th class="product-total">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for index, cart in carts['products'] %}
                                    <tr class="cart_item">
                                        <td class="product-thumbnail text-center">
                                            <div>{{ cart.title }} </div>
                                            <a href="{{ path('front_product_reservation_show_detail', {'token': index}) }}">
                                                <img src="{{ data_uri_thumbnail('build/images/front/loading.jpg', 130, 130) }}"
                                                        {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                            src: asset('uploads/product_picture/' ~ cart.pictureName)|imagine_filter('product_miniature')
                                                        }) }}
                                                     width="130" height="130" class="img-fluid"
                                                     alt="{{ cart.title }}"/>
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            {% if cart.startDate != cart.endDate %}
                                                {{ cart.startDate }} - {{ cart.endDate }}<br>
                                            {% else %}
                                                {{ cart.startDate }}<br>
                                            {% endif %}
                                        </td>
                                        <td class="product-name">
                                            <strong class="product-quantity">{{ cart.quantity }}</strong>
                                        </td>
                                        <td class="product-total">
                                            <span class="amount">{{ (cart.price * cart.quantity * cart.numberDays)|number_format(2, ',')|default(0) }} €</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr class="cart-subtotal">
                                    <td colspan="2"></td>
                                    <th>Sous total HT</th>
                                    <td>
                                        <span class="amount">{{ (carts.totalAmount - carts.totalTva - carts.totalFees)|number_format(2, ',')|default(0) }} €</span>
                                    </td>
                                </tr>
                                <tr class="shipping">
                                    <td colspan="2"></td>
                                    <th>
                                        TVA (20%)
                                    </th>
                                    <td>
                                        <ul>
                                            <li>
                                                <label>
                                                    <span class="amount">{{ carts.totalTva|number_format(2, ',')|default(0) }} €</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="shipping">
                                    <td colspan="2"></td>
                                    <th>
                                        Frais de service
                                        <i class="far fa-info-circle" style="color: #bc8246;" data-toggle="tooltip" data-placement="top"
                                        title="Le montant des frais de service représente 10% du montant TTC."></i>
                                    </th>
                                    <td>
                                        <ul>
                                            <li>
                                                <label>
                                                    <span class="amount">{{ carts.totalFees|number_format(2, ',')|default(0) }} €</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <td colspan="2"></td>
                                    <th>Total TTC</th>
                                    <td><strong><span class="amount">{{ carts.totalAmount|number_format(2, ',')|default(0) }} €</span></strong>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="payment-method">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                Consentement
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                         data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="checkout-form-list form-check" style="display: flex;">
                                                <input type="checkbox" value="1" id="caution-policy"
                                                       class="form-check-input">
                                                <label for="caution">
                                                    En cochant cette case, vous vous engagez à
                                                    payer la / les
                                                    <span data-toggle="tooltip"
                                                          data-placement="top"
                                                          title="Le prix de la caution est variable, il est établie entre les deux parties en fonction des dégâts.">
                                                        caution(s). <i class="far fa-info-circle" style="color: #bc8246;"></i>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="checkout-form-list form-check" style="display: flex;">
                                                <input type="checkbox" value="1" id="rented-policy"
                                                       class="form-check-input">
                                                <label for="rented-policy">
                                                    Veuillez accepter nos
                                                    <a href="{{ path('front_policy') }}" title="Conditions Générales de Location">
                                                        Conditions Générales de Location
                                                    </a>.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h6 class="mb-0" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                                CB / Visa
                                        </h6>
                                    </div>
                                    <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                                         data-parent="#accordionExample">
                                        <div class="card-body">
                                            {% if clientSecret %}
                                                <form id="payment-form" {{ stimulus_controller('stripe') }}
                                                      data-client-secret="{{ clientSecret }}">
                                                    <div id="link-authentication-element"></div>
                                                    <div id="payment-element">
                                                        <!-- Elements will create form elements here -->
                                                    </div>
                                                    <div id="error-message">
                                                        <!-- Display error message to your customers here -->
                                                    </div>
                                                </form>
                                            {% else %}
                                                <div style="color: #842029">
                                                    Merci de valider les informations de facturation.
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                {#                                    <div class="card"> #}
                                {#                                        <div class="card-header" id="headingThree"> #}
                                {#                                            <h5 class="mb-0"> #}
                                {#                                                <button class="btn-link collapsed" type="button" data-toggle="collapse" #}
                                {#                                                        data-target="#collapseThree" aria-expanded="false" #}
                                {#                                                        aria-controls="collapseThree"> #}
                                {#                                                    PayPal #}
                                {#                                                </button> #}
                                {#                                            </h5> #}
                                {#                                        </div> #}
                                {#                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" #}
                                {#                                             data-parent="#accordionExample"> #}
                                {#                                            <div class="card-body"> #}
                                {#                                                Pay via PayPal; you can pay with your credit card if you don’t have a #}
                                {#                                                PayPal account. #}
                                {#                                            </div> #}
                                {#                                        </div> #}
                                {#                                    </div> #}
                            </div>
                            <div class="order-button-payment mt-20">
                                {% if app.user %}
                                    <button type="submit" id="stripe_submit" class="os-btn os-btn-black">Valider votre
                                        réservation
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- checkout-area end -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var googleRecaptchPkey = '{{ googleRecaptchPkey }}';
    </script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ googleRecaptchPkey }}"></script>
{% endblock %}