<!-- footer area start -->
<section class="footer__area footer-bg">
    <div class="footer__top pt-100 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title mb-25">
                            <a href="{{ path('front_home') }}" title="Reented"><img src="{{ asset("build/images/front/logo-2.png")|imagine_filter('logo') }}" alt="Reented" width="241" height="49"></a>
                        </div>
                        <div class="footer__widget-content">
                            <p>Reented offre une expérience de location locale,
                                avec une gamme variée de produits facilement accessibles à proximité. Rejoignez-nous dès aujourd'hui pour profiter
                                d'une location sans tracas et contribuer à une communauté de partage dynamique.</p>
                            <div class="footer__contact">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">
                                            <span>Adresse : 24 allée du cerf, 95800 Courdimanche, Val-d'Oise, FRANCE.</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-envelope-open-text"></i>
                                        </div>
                                        <div class="text">
                                            <span>E-mail : <a href="mailto:contact@reented.com">contact@reented.com</a></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-phone-alt"></i>
                                        </div>
                                        <div class="text">
                                            <span>Téléphone : <a href="tel:+33695565822">06 95 56 48 22</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title">
                            <h6>Information</h6>
                        </div>
                        <div class="footer__widget-content">
                            <div class="footer__links">
                                <ul>
                                    <li><a href="{{ path('front_aboutus') }}" title="À propos de nous">À propos de nous</a></li>
                                    <li><a href="{{ path('front_faq') }}" title="F.A.Q">F.A.Q</a></li>
                                    <li><a href="{{ path('front_legal_mention') }}" title="Mention légale">Mention légale</a></li>
                                    <li><a href="{{ path('front_cgu') }}" title="Condition Générale d'Utilisation">Condition Générale d'Utilisation</a></li>
                                    <li><a href="{{ path('front_cookies') }}" title="Gestion des cookies">Gestion des cookies</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title mb-25">
                            <h6>Service client</h6>
                        </div>
                        <div class="footer__widget-content">
                            <div class="footer__links">
                                <ul>
                                    <li><a href="{{ path('front_trust_chart') }}" title="Charte de confiance">Charte de confiance</a></li>
                                    <li><a href="{{ path('front_contact') }}" title="Aidez-nous & Contactez-nous">Aidez-nous & Contactez-nous</a></li>
                                    <li><a href="{{ path('front_personal_data') }}" title="Gestion de vos données personnelles">Gestion de vos données personnelles</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7">
                    <div class="footer__copyright">
                        <p>Copyright © <a href="{{ path('front_home') }}" title="Reented">Reented</a> all rights reserved.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="footer__social f-right">
                        <ul>
{#                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>#}
{#                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#                            <li><a href="#"><i class="fab fa-behance"></i></a></li>#}
                            <li><a href="https://www.instagram.com/reented_off" title="Instagram"><i class="fab fa-instagram fa-lg"></i></a></li>
                            <li><a href="https://discord.gg/fYAdwEssZ5" title="Discord"><i class="fab fa-discord fa-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer area end -->