{% extends 'front/layout.html.twig' %}

{% block title %}Nouveau compte locataire{% endblock %}

{% block content %}
    <!-- login Area Strat-->
    <section class="login-area pt-50 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="basic-login">
                        <h3 class="text-center">{{ app.user ? 'Mes informations' : 'Compte locataire' }} </h3>
                        <div class="alert alert-info" role="alert">
                            La création d'un compte locataire ne vous donne pas accès aux options de location.
                            Si vous souhaitez mettre en location et louer des biens, orientez-vous plutôt vers un compte
                            <a href="{{ path('front_seller_new') }}" class="alert-link" title="Devenez bailleur">bailleur</a>.
                        </div>
                        {{ include('front/user/partials/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login Area End-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var googleRecaptchPkey = '{{ googleRecaptchPkey }}';
    </script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ googleRecaptchPkey }}"></script>
{% endblock %}
