{% set currentRoute = app.request.attributes.get('_route') %}

<ul class="nav">
    <li class="{% if currentRoute starts with 'back_home_dashboard' %}active{% endif %}">
        <a title="Tableau de bord" href="{{ path('back_home_dashboard') }}">
            <i class="fas fa-chart-line"></i>
            <span>Tableau de bord</span>
        </a>
    </li>
    <li class="{% if currentRoute starts with 'back_homepage' %}active{% endif %}">
        <a title="HomePage" href="{{ path('back_homepage_edit') }}">
            <i class="fas fa-home"></i>
            <span>Config. Accueil</span>
        </a>
    </li>
    <li class="{% if currentRoute starts with 'back_product' %}active{% endif %}">
        <a title="Produits" href="{{ path('back_product_index') }}" >
            <i class="fas fa-box-open"></i>
            <span>Produits ({{ numberProductToValidate() }})</span>
        </a>
    </li>
    <li class="{% if currentRoute starts with 'back_lessor' %}active{% endif %}">
        <a title="Bailleurs" href="{{ path('back_lessor_index') }}">
            <i class="fas fa-user-tie"></i>
            <span>Bailleurs</span>
        </a>
    </li>
    <li class="{% if currentRoute starts with 'back_customer' %}active{% endif %}">
        <a title="Clients" href="{{ path('back_customer_index') }}">
            <i class="fas fa-user"></i>
            <span>Clients</span>
        </a>
    </li>
    <li class="{% if currentRoute starts with 'back_transaction' %}active{% endif %}">
        <a title="Transaction" href="{{ path('back_transaction_index') }}">
            <i class="fas fa-money-bill-wave"></i>
            <span>Transactions</span>
        </a>
    </li>
    <li class="{% if currentRoute starts with 'back_claim' %}active{% endif %}">
        <a title="Réclamations" href="{{ path('back_claim_index') }}">
            <i class="fas fa-exclamation-triangle {{ numberClaims() > 0 ? 'text-danger' : '' }}"></i>
            <span>Réclamations ({{ numberClaims() }})</span>
        </a>
    </li>
    {# <i class="fas fa-money-bill-wave"></i> #}


    {#    <li class="{% if currentRoute starts with 'back_catalog_index' %}active{% endif %}"> #}
    {#        <a title="Catalogue" href="{{ path('back_catalog_index') }}"> #}
    {#            <i class="fa fa-folder-open"></i> #}
    {#            <span>Catalogue</span> #}
    {#        </a> #}
    {#    </li> #}
    {#    <li class="{% if currentRoute starts with 'back_faq_index' %}active{% endif %}"> #}
    {#        <a title="Faq" href="{{ path('back_faq_index') }}"> #}
    {#            <i class="fas fa-question"></i> #}
    {#            <span>Faq</span> #}
    {#        </a> #}
    {#    </li> #}
    {#    <li class="{% if currentRoute starts with 'back_contents_index' %}active{% endif %}"> #}
    {#        <a title="Contenus" href="{{ path('back_contents_index') }}"> #}
    {#            <i class="fas fa-sticky-note"></i> #}
    {#            <span>Contenus</span> #}
    {#        </a> #}
    {#    </li> #}
    {#    <li class=""> #}
    {#        <a title="Menus" href="{{ path('back_menu_index') }}"> #}
    {#            <i class="fa fa-bars"></i> #}
    {#            <span>Menus</span> #}
    {#        </a> #}
    {#    </li> #}
    <li class="{% if currentRoute starts with 'back_contributors' %}active{% endif %}">
        <a title="Utilisateurs" href="{{ path('back_contributors') }}">
            <i class="fas fa-users-cog"></i>
            <span>Utilisateurs</span>
        </a>
    </li>
    {#    <li class="{% if currentRoute starts with 'back_parameters_edit' %}active{% endif %}"> #}
    {#        <a title="Paramétrage" href="{{ path('back_parameters_edit') }}"> #}
    {#            <i class="fa fa-cog" aria-hidden="true"></i> #}
    {#            <span>Paramétrage</span> #}
    {#        </a> #}
    {#    </li> #}
    <!-- begin sidebar minify button -->
    <li><a href="#"
           data-toggle="tooltip" data-placement="top"
           rel="nofollow" title="Menu mini" class="sidebar-minify-btn" data-click="sidebar-minify"><i
                    class="fa fa-angle-double-left"></i></a></li>
    <!-- end sidebar minify button -->
</ul>
